.App{
  text-align: center;
  width: 80%;
  margin: auto;
  height: 100vh;
  background: black;
}
body{
  height: 100vh;
}
.chat-message{
  background-color: #f2f2f2;
  /* padding: 3em 3em; */
  /* max-height: 873px; */
  overflow-y: auto;
  /* border-radius: 25px; */
  color: grey;
  align-items: flex-end;
  padding-bottom: 0;
  height: 90vh;
  position: relative;
}

.message-right{

  padding: 0.5em 1em !important;
  margin:1em
}
.message-text-right{
  background-color: #1bb5d1;
  color: white;
  border-radius: 11px 4px 15px 3px;
  padding: 14px;
    margin: 6px;
}
.trash, .edit {
  display: none !important;
  cursor: pointer;
}
 
 .mess-wrapper:hover .trash, .mess-wrapper:hover .edit {
  display: block !important;
 }
 
 
.message-left{

  padding: 0.5em 1em !important;
  margin:1em;
  justify-content: start;
  
}

.message-text-left{
  background: #86a1b9;
  color: white;
  border-radius: 11px 4px 15px 3px;
  padding: 14px;
  margin: 6px;
}

.logo-icon{
  height: 30px;
  width:30px;
  border-radius: 50%;
  justify-content: end !important;
}

.input{
  position: absolute;
  bottom: 0;
  width: 80%;
 
}
input::placeholder{
  color: white !important;
}
.form{
  /* border-radius: 20px !important; */
  background-color: black !important;
  color: white !important;
}
.form:focus{
  border-color: none !important;
  box-shadow: none !important;
}
.input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  flex-direction: column;
 }
 
 .icon {
  position: absolute;
  right: 5rem;
  cursor: pointer;
  color: white;
  bottom: 11px;
 }